  <!--   Урок 4  -->


    <section class='m-5 card'>
      <div class='card-header'>Завдання 1</div>
      <div class='card-body'>
        <div class='lesson-four-task-one'>
            <button class="btn">Натисніть мене</button>
        </div>
      </div>
    </section>


    <section class='m-5 card'>
        <div class='card-header'>Завдання 2</div>
        <div class='card-body'>
            <div class='lesson-four-task-two'>
                <a href="#" class="link">Посилання</a>
                <h1 class="title">Це заголовок</h1>
            </div>
        </div>
    </section>


    <section class='m-5 card'>
        <div class='card-header'>Завдання 3</div>
        <div class='card-body'>
            <div id="lesson-four-task-three" class='lesson-four-task-three'>
                <a href="#lesson-four-task-three" class="link">Посилання</a>
            </div>
        </div>
    </section>

    

  <section class='m-5 card'>
    <div class='card-header'>Завдання 4</div>
    <div class='card-body'>
      <div class='lesson-four-task-four'>
        <div id='sidebar'>
          <a href='#sidebar' class='link'>Посилання</a>
        </div>
      </div>
    </div>
  </section>


  <section class='m-5 card'>
    <div class='card-header'>Завдання 5</div>
    <div class='card-body'>
      <div class='lesson-four-task-five'>
        <button class='btn'>Натисни мене</button>
      </div>
    </div>
  </section>


  <section class='m-5 card'>
    <div class='card-header'>Завдання 6</div>
    <div class='card-body'>
      <div class='lesson-four-task-six'>
        <button class='btn'>Натисни мене</button>
      </div>
    </div>
  </section>

 

  <section class='m-5 card'>
    <div class='card-header'>Завдання 7</div>
    <div class='card-body'>
      <div class='lesson-four-task-seven'>
        <div id='target'>Це Якір</div>
        <a href='#target'>Перейти до якору</a>
      </div>
    </div>
  </section>

 

  <section class='m-5 card'>
    <div class='card-header'>Завдання 8</div>
    <div class='card-body'>
      <div class='lesson-four-task-eight'>
        <label for='checkbox'>Виберіть цей чек бокс</label>
        <input type='checkbox' id='checkbox' />

        <div id='target'>Цей текст зміниться при виборі чек
          боксу</div>
      </div>
    </div>
  </section>

 
  <section class='m-5 card'>
    <div class='card-header'>Завдання 9</div>
    <div class='card-body'>
      <div class='lesson-four-task-nine'>
        <p lang='uk'>Ласкаво просимо на наш сайт!</p>
        <p lang='en'>Welcome to our website!</p>
        <p>Це текст на різних мовах.</p>
      </div>
    </div>
  </section>



  <section class='m-5 card'>
    <div class='card-header'>Завдання 10</div>
    <div class='card-body'>
      <div class='lesson-four-task-ten'>
        <form>
          <div class='form-group'>
            <label for='username'>Ім'я користувача:</label>
            <input
              type='text'
              class='form-control'
              id='username'
              name='username'
              required
            />
          </div>

          <div class='form-group'>
            <label for='password'>Пароль:</label>
            <input
              type='password'
              class='form-control'
              id='password'
              name='password'
              required
            />
          </div>

          <div class='form-group'>
            <label for='email'>Email:</label>
            <input
              type='email'
              class='form-control'
              id='email'
              name='email'
              required
              disabled
            />
          </div>
          <button
            type='submit'
            class='btn btn-primary'
          >Відправити</button>
        </form>
      </div>
    </div>
  </section>



  <section class='m-5 card'>
    <div class='card-header'>Завдання 11</div>
    <div class='card-body'>
      <div class='lesson-four-task-eleven'>
        <label for='username'>Ім'я користувача:</label>
        <input
          type='text'
          id='username'
          name='username'
          disabled
        />

        <label for='password'>Пароль:</label>
        <input
          type='password'
          id='password'
          name='password'
          disabled
        />

        <button type='submit' disabled>Увійти</button>
      </div>
    </div>
  </section>

  
  <section class='m-5 card'>
    <div class='card-header'>Завдання 12</div>
    <div class='card-body'>
      <div class='lesson-four-task-twelve'>
        <label for='username'>Ім'я користувача:</label>
        <input
          type='text'
          id='username'
          name='username'
          readonly
        />

        <label for='password'>Пароль:</label>
        <input
          type='password'
          id='password'
          name='password'
        />

        <button type='submit'>Увійти</button>
      </div>
    </div>
  </section>

 

  <section class='m-5 card'>
    <div class='card-header'>Завдання 13</div>
    <div class='card-body'>
      <div class='lesson-four-task-thirteen'>
        <input type='text' readonly />
        <input type='text' />
        <input type='text' />
      </div>
    </div>
  </section>


  <section class='m-5 card'>
    <div class='card-header'>Завдання 14</div>
    <div class='card-body'>
      <div class='lesson-four-task-fourteen'>
        <input type='text' required pattern='[A-Za-z]{3}' />
      </div>
    </div>
  </section>


  <section class='m-5 card'>
    <div class='card-header'>Завдання 15</div>
    <div class='card-body'>
      <div class='lesson-four-task-fifteen'>
        <form>
          <label for='name'>Ім'я:</label>
          <input
            type='text'
            id='name'
            name='name'
            required
          />
          <label for='email'>Електронна пошта:</label>
          <input type='email' id='email' name='email' />
          <label for='message'>Повідомлення:</label>
          <textarea
            id='message'
            name='message'
            optional
          ></textarea>
          <button type='submit'>Відправити</button>
        </form>
      </div>
    </div>
  </section>



  <section class='m-5 card'>
    <div class='card-header'>Завдання 16</div>
    <div class='card-body'>
      <div class='lesson-four-task-sixteen'>
        <form>
          <label for='quantity'>Кількість:</label>
          <input
            type='number'
            id='quantity'
            name='quantity'
            min='0'
            max='100'
            class="bg-secondary"

          />
        </form>
      </div>
    </div>
  </section>



  <section class='m-5 card'>
    <div class='card-header'>Завдання 17</div>
    <div class='card-body '>
      <div class='lesson-four-task-seventeen'>
        <form>
          <label for='quantity'>Кількість:</label>
          <input
            type='number'
            id='quantity'
            name='quantity'
            min='0'
            max='100'
            class="bg-secondary"
          />
        </form>
      </div>
    </div>
  </section>

 

  <section class='m-5 card'>
    <div class='card-header'>Завдання 18</div>
    <div class='card-body'>
      <div class='lesson-four-task-eighteen'>
        <input type='text' placeholder='Введіть текст' />
      </div>
    </div>
  </section>



  <section class='m-5 card'>
    <div class='card-header'>Завдання 19</div>
    <div class='card-body'>
      <div class='lesson-four-task-nineteen'>
          <div class="btn-group">
              <button>Кнопка 1</button>
              <button>Кнопка 2</button>
              <button>Кнопка 3</button>
          </div>
      </div>
    </div>
  </section>


  <section class='m-5 card'>
    <div class='card-header'>Завдання 20</div>
    <div class='card-body'>
      <div class='lesson-four-task-twenty'>
        <form>
          <label>
            Ім'я:
            <input type='text' name='name' required />
          </label>
          <br />
          <label>
            Електронна пошта:
            <input type='email' name='email' required />
          </label>
          <br />
          <button type='submit'>Відправити</button>
        </form>
      </div>
    </div>
  </section>


</body>
