.card > p {
    color: rgba(0, 9, 183, 0.861);
}

* {
    /* font-family: 'Open Sans', sans-serif;
    font-family: 'Playfair Display', serif; */
    font-family: 'Roboto', sans-serif;
}

/* body {
    font-family: 'Roboto', sans-serif;
} */
