:root {
    --color-text: #343a40;
    --color-title: #5a5a5a;
    --color-border: #dee2e6;
    --color-white: #fff;
    --color-primary: #0817e6;

    --space-m: 12px;
    --space-xm: 16px;
    --space-l: 24px;
    --space-b: 32px;

    --size-d: 16px;
    --size-s: 14px;
    --size-b: 20px;

    --border-radius: 12px;

    --weight-title: 500;
    --weight-text: 400;

    --page-width: 960px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

.page {
    background-color: var(--color-white);
    margin: 0 15px;

    display: flex;
    justify-content: center;
    /* background: linear-gradient(360deg, rgba(82,133,241,0.47120098039215685) 0%, rgba(13,34,185,0.006214985994397737) 100%); */
}

.page_content {
    max-width: var(--page-width);
    width: 100%;

    display: flex;
    flex-direction: column;

    gap: 80px;

    /* padding-top: 74px; */
}

.header {
    padding: var(--space-l) 0;
    border-bottom: 1px solid var(--color-border);

    display: flex;
    justify-content: space-between;

    /* position: fixed; */
    position: sticky;
    max-width: var(--page-width);
    width: 100%;
    top: 0;
    /* left: calc(50% - var(--page-width) / 2); */
    background-color: var(--color-white);

    z-index: 2;
}

.logo {
    font-size: var(--size-d);
    color: var(--color-white);
    background-color: var(--color-primary);

    width: 24px;
    height: 24px;
    border-radius: calc(var(--border-radius) / 2);

    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    display: flex;
}

.nav_inline {
    gap: var(--space-l);
}

.nav_vertical {
    gap: var(--space-xm);
    flex-direction: column;
}

.nav_link {
    color: var(--color-text);
    font-size: var(--size-d);
    text-decoration: none; /*  прибирає підкреслення для посилання */
    line-height: 100%;

    transition: color 1s;
    /* transition: opacity 1s; */
}

.nav_link:hover {
    color: var(--color-primary);
    text-decoration: underline;

    /* opacity: 80%; */
}

.header_nav_right {
    margin-left: auto;
    width: fit-content;
}

.footer {
    padding: var(--space-l) 0;
    border-top: 1px solid var(--color-border);

    display: flex;
    justify-content: space-between;
}

.footer_copyright {
    font-size: var(--size-s);
    color: var(--color-text);

    display: block;

    margin-top: var(--space-l);
}

.footer_title {
    font-size: var(--size-b);
    font-weight: var(--weight-title);
    color: var(--color-title, #5a5a5a);

    display: block;
    margin-bottom: var(--space-l);
}

.hero {
    display: flex;
    align-items: center;
    gap: var(--space-b);
    border-bottom: 1px solid var(--color-border);
    padding: var(--space-b);
}

.hero_image {
    width: 500px;
    height: 500px;
    border-radius: var(--border-radius);
}

.hero_content {
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
}

.hero_title {
    color: var(--color-title);
    font-size: 50px;
    font-weight: var(--weight-title);
    line-height: 120%;
}

.hero_text {
    color: var(--color-text);
    font-size: var(--size-b);
    font-weight: var(--weight-text);
    line-height: 170%;
}

.blog {
    display: flex;
    gap: var(--space-b);

    border-bottom: 1px solid var(--color-border);
    padding: var(--space-b);
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: var(--space-l);
}

.card_image {
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

.card_title {
    font-size: 32px;
    font-weight: var(--weight-title);
    color: var(--color-title);
}

.card_text {
    color: var(--color-text);
    font-weight: var(--weight-text);
    font-size: var(--size-d);
}

.button {
    font-size: var(--size-d);
    text-decoration: none;
    display: inline-block;
    padding: var(--space-m) var(--space-xm);
    border-radius: var(--border-radius);

    transition: opacity 0.8s, background-color 1s;
}

.card_button {
    color: var(--color-white);
    background: var(--color-primary);
}

.button:hover {
    opacity: 0.7;
    background-color: #2f77ea;
}

.form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-primary);
    padding: var(--space-l);
    border-radius: var(--border-radius);
}

.form_content {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
}

.form_title {
    font-size: 27px;
    font-weight: var(--weight-title);
    color: var(--color-white);
}

.form_info {
    font-size: var(--size-d);
    font-weight: var(--weight-text);
    color: var(--color-white);
}

.form_button {
    background: var(--color-white);
    width: 100%;
    max-width: 160px;
    color: var(--color-text);
}

.hero_slider {
    z-index: 1;
}

.hero_slider_icon {
    background-color: var(--color-primary);
    width: 30px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--color-white);

    position: absolute;
    top: calc(50% - 15px);

    transition: opacity 1s;
}

.hero_slider_icon:hover {
    opacity: 0.6;
    cursor: pointer;
}

.hero_slider {
    position: relative;
}

.hero_slider_right {
    right: var(--space-l);
}

.hero_slider_left {
    left: var(--space-l);
}

.modal {
    position: fixed;
    bottom: 24px;
    right: 24px;

    height: 100px;
    width: 600px;
    background-color: rgba(56, 55, 55, 0.441);
    color: var(--color-white);
    padding: 24px;
    border-radius: 24px;
    line-height: 150%;
}

.modal_block {
    position: fixed;
    top: 100px;
    left: 200px;
    width: 600px;
    background-color: #343a40;
    color: #fff;
    padding: 24px;
    border-radius: 24px;
    line-height: 150%;
    z-index: 3;

    transition-property: top, opacity;
    transition-duration: 4s;
    transition-timing-function: ease-out;
}

body:hover .modal_block {
    opacity: 0.4;
    top: 900px;
}

.blog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media all and (width <= 600px) {
    .blog {
        grid-template-columns: 1fr;
    }
}

@media all and (600px < width <= 800px) {
    .blog {
        grid-template-columns: repeat(2, 1fr);
    }
}

.form {
    gap: var(--space-l);
}

@media all and (width <= 560px) {
    .form {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .form_info {
        max-width: 300px;
        width: 100%;
        line-height: 150%;
    }
    .form_content {
        align-items: center;
        text-align: center;
    }
}

/* .hero_conteiner {
    container-type: size;
} */
